@charset "UTF-8";
@media screen and (min-width: 0) and (max-width: 767px) {
  .desktop {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}
* {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: bold;
}

body {
  margin: 0px !important;
  max-width: 99.8vw;
  overflow-x: clip;
  width: 100vw;
}

.open {
  background-color: #D28746;
  padding: 1vw;
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  padding-top: 1.5vw;
  animation: alert 1s infinite;
  font-size: 0.771875vw;
}

@keyframes alert {
  0% {
    border: 1px solid #00687D;
    background-color: #f0d7c1;
  }
  50% {
    border: 1px solid #D28746;
    background-color: #dca26f;
  }
  100% {
    border: 1px solid #00687D;
    background-color: #f0d7c1;
  }
}
/********************************************************************/
.blink {
  animation: blink-animation 6s infinite alternate;
}
.blink a {
  background-color: transparent !important;
}
.blink:hover {
  background-color: #D28746;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  40% {
    background-color: #007d7d;
  }
  100% {
    opacity: 1;
  }
}
/********************************************************************/
::-moz-selection {
  background-color: #00687D; /* Cor de fundo da seleção */
  color: #ffffff; /* Cor do texto selecionado */
  text-shadow: 0px 0px 2px #000; /* Sombra opcional no texto */
}
::selection {
  background-color: #00687D; /* Cor de fundo da seleção */
  color: #ffffff; /* Cor do texto selecionado */
  text-shadow: 0px 0px 2px #000; /* Sombra opcional no texto */
}

/* Para navegadores baseados em WebKit (como Safari) */
::-webkit-selection {
  background-color: #00687D;
  color: #ffffff;
}

/* Para navegadores WebKit */
::-webkit-scrollbar {
  width: 1vw; /* Largura da barra de rolagem vertical */
  height: 1vw; /* Altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-thumb {
  background-color: #D28746; /* Cor do "polegar" da barra de rolagem */
}

::-webkit-scrollbar-track {
  background-color: #00687D; /* Cor do trilho da barra de rolagem */
}

.screen-reader-text {
  width: 1px;
  overflow: hidden;
}

/*****************************************************/
@media screen and (max-width: 767px) {
  #icon {
    display: block;
    position: fixed;
    left: 1.953125vw;
    top: 1.953125vw;
    width: 10.90625vw;
    z-index: 800000;
  }
  #fundao {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 890000;
    background-color: #00687D;
    opacity: 0.2;
    position: fixed;
    left: 0;
    top: 0;
  }
  #menuHome {
    padding-top: 3.6041666667vh;
    max-width: 70vw;
    padding: 4vw;
    background-color: #00687D;
    position: fixed;
    left: -50vw;
    top: 0;
    height: 100vh;
    z-index: 900000;
  }
}
@media screen and (max-width: 767px) and (max-width: 768px) {
  #menuHome body {
    width: 100%;
    font-size: 3.660156vw;
    line-height: 6vw;
    text-align: justify;
  }
}
@media screen and (max-width: 767px) and (max-width: 500px) {
  #menuHome body {
    width: 100%;
    font-size: 5vw;
    line-height: 13vw;
    text-align: justify;
  }
}
@media screen and (max-width: 767px) {
  #menuHome ul {
    gap: 2.9296875vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #menuHome ul *:has(.sub-menu) {
    padding: 3vw;
    background-color: rgba(255, 255, 255, 0.175);
    border-radius: 0.9765625vw;
  }
  #menuHome ul *:has(.sub-menu):hover .sub-menu {
    position: absolute;
    top: 0;
    background-color: #007d97;
    width: 70vw;
    display: block;
    height: 100vh;
    padding: 10vw;
    animation: AbreSubMenu 300ms ease-in-out forwards;
    border-left: 0.1953125vw solid #003e4a;
  }
  #menuHome ul *:has(.sub-menu):hover .sub-menu li {
    background-color: #00687D;
    width: 90%;
    padding: 2vw;
    border-radius: 1.953125vw;
    margin-bottom: 2vw;
    text-align: center;
  }
  #menuHome ul li {
    max-width: 100%;
  }
  #menuHome ul li a {
    text-transform: capitalize;
    color: white;
    font-weight: 200;
  }
  #menuHome ul li .sub-menu {
    display: none;
  }
  .openMenu {
    animation: AbreMenu 900ms ease-in-out forwards;
  }
  @keyframes AbreMenu {
    0% {
      left: -70vw;
    }
    100% {
      left: 0;
    }
  }
  @keyframes AbreSubMenu {
    0% {
      left: 60vw;
      opacity: 0;
    }
    100% {
      left: 39vw;
      opacity: 1;
    }
  }
}
/*****************************************************/
.screen-reader-text {
  width: 1px;
  overflow: hidden;
}

/*****************************************************/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #fundao {
    display: none;
  }
  #header {
    height: auto;
    padding-top: 9.765625vw;
    padding-bottom: 15.859375vw;
    padding-left: 8.59375vw;
    padding-right: 2.9296875vw;
    width: 99.98vw;
    display: block;
    position: relative;
  }
  #header h1 {
    width: 39.0625vw;
    font-size: 3.515625vw;
    line-height: 1.1;
    margin-bottom: 1.953125vw;
    color: #001317;
  }
  #header h2 {
    width: 38.37890625vw;
    font-size: 2.24609375vw;
    line-height: 1.1;
    margin-bottom: 19px;
    display: block;
    color: #001317;
  }
  #header section {
    display: inline-block;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 501px) {
  #header section a {
    padding-left: 0.78125vw;
    padding-top: 0.68359375vw;
    padding-right: 0.78125vw;
    padding-bottom: 0.68359375vw;
    color: white;
    background-color: #00687D;
    font-size: 1.171875vw;
    margin-right: 0;
    display: inline-block;
    text-transform: capitalize;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (max-width: 500.12px) {
  #header section a {
    background-color: #00687D;
    color: white;
    padding: 4vw;
    font-size: 1.66015625vw;
    position: relative;
    z-index: 30;
    display: inline-block;
    width: 100%;
    text-align: center;
    border: none;
    margin-bottom: 3vh;
    text-transform: capitalize;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #header p {
    margin-top: 1.85546875vw;
    width: 36.81640625vw;
    height: 26.3671875vw;
    font-size: 1.513671875vw;
    line-height: 1.8;
    color: #00687D;
    text-align: justify;
    color: #00687D;
  }
  #header picture {
    width: auto;
    height: auto;
    overflow: hidden;
    position: absolute;
    right: 2.9296875vw;
    top: 9.765625vw;
  }
  #header picture img {
    width: 42.48046875vw;
    height: 54.6875vw;
  }
}
/*****************************************************/
.screen-reader-text {
  width: 1px;
  overflow: hidden;
}

/*****************************************************/
@media screen and (min-width: 767.1px) {
  #icon {
    display: none;
  }
  #fundao {
    display: none;
  }
  #menuHome {
    padding-top: 0.5859375vw;
    padding-bottom: 0.5859375vw;
    padding-left: 3.61328125vw;
    padding-right: 3.61328125vw;
    background-color: #00687D;
    display: flex;
    flex-direction: row-reverse;
    color: white;
  }
  #menuHome ul {
    display: flex;
    flex-direction: row;
    gap: 1.26953125vw;
  }
  #menuHome ul li {
    position: relative;
    white-space: nowrap;
    display: flex;
    flex-direction: row-reverse;
    font-size: 0.87890625vw;
    /*************************************************/
    /*************************************************/
  }
  #menuHome ul li a {
    color: white;
    text-transform: capitalize;
    font-weight: 200;
    align-content: center;
  }
  #menuHome ul li:hover ul {
    display: flex;
  }
  #menuHome ul li ul {
    display: none;
    position: absolute;
    flex-direction: column;
    z-index: 3000;
    align-items: flex-start;
    padding-top: 2vw;
    gap: 0.4vw;
    left: 50%;
    transform: translateX(-50%);
  }
  #menuHome ul li ul li {
    background-color: #00687D;
    width: 100%;
    padding: 1vw;
    border-radius: 0.7vw;
    text-align: left;
    font-size: 1.3671875vw;
    box-shadow: 0.78125vw 0.78125vw 2.78125vw #00687D;
  }
  #menuHome ul li ul li:hover {
    animation: menuLi 200ms forwards;
  }
  @keyframes menuLi {
    0% {
      background-color: #00687D;
    }
    50% {
      background-color: #d27046;
    }
    100% {
      background-color: #00687D;
    }
  }
}
/*****************************************************/
/*****************************************************/
@media screen and (max-width: 767px) {
  #icon {
    display: block;
    margin: 1vw;
    width: 10vw;
    height: auto;
    position: fixed;
    background-color: white;
    padding: 1vw;
    border: 1px solid #00687D;
    z-index: 3;
    top: 1vw;
    border-radius: 0.48828125vw;
  }
  #fundao {
    display: none;
    background-color: rgba(255, 0, 0, 0);
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 20;
    position: fixed;
  }
  .openMenu {
    animation: menu 700ms forwards;
  }
  h1 {
    text-align: center;
    margin-top: 4.8828125vw;
  }
  .SegundoMenuTopo {
    left: 0px;
    position: fixed;
    top: 0px;
    background: linear-gradient(50deg, #0092b0, #00687D);
    z-index: 30;
    height: 100vh;
    padding: 3vw;
  }
  .SegundoMenuTopo ul li {
    margin: 1vw;
    margin-bottom: 3.9765625vw;
    white-space: nowrap;
    padding: 0.6vw;
    text-transform: uppercase;
    font-size: 2.471875vw;
    position: relative;
  }
  .SegundoMenuTopo ul li a {
    color: white;
    text-align: center;
    padding: 0.5vw;
  }
  .SegundoMenuTopo ul li:hover ul {
    animation: submenu 1s forwards;
    padding-top: 2vw;
    border-radius: 0.48828125vw;
    box-shadow: 0.9765625vw 0.9765625vw rgba(0, 0, 0, 0.474);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #00687D;
    display: block;
    border: 1px solid #D28746;
  }
  .SegundoMenuTopo ul li ul {
    display: none;
  }
  @keyframes submenu {
    0% {
      opacity: 0;
      left: -30px;
    }
    100% {
      opacity: 0.8;
      left: 6.953125vw;
    }
  }
  @keyframes hover {
    0% {
      background-color: #00687d;
    }
    100% {
      background-color: #003e4a;
    }
  }
  @keyframes menu {
    0% {
      top: -20vw;
      opacity: 0;
    }
    20% {
      top: -20vw;
      opacity: 0;
    }
    100% {
      top: 0vw;
      opacity: 1;
    }
  }
}
/*****************************************************/
/*****************************************************/
@media screen and (max-width: 767px) {
  body {
    width: 98.89vw;
    position: relative;
  }
  /****************************************************/
  /****************************************************/
  /****************************************************/
  #thumbCategory {
    grid-area: thumb;
  }
  #posts {
    grid-area: posts;
  }
  h1 {
    grid-area: paragrafo;
  }
  #descricao {
    grid-area: desc1;
  }
  #descricao2 {
    grid-area: desc2;
  }
  .pai {
    grid-area: pai;
  }
  /****************************************************/
  /****************************************************/
  /****************************************************/
  #categorias {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "paragrafo" "desc1" "thumb" "posts" "desc2" "pai";
    width: 99%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 767px) and (max-width: 768px) {
  #categorias body {
    width: 100%;
    font-size: 3.660156vw;
    line-height: 6vw;
    text-align: justify;
  }
}
@media screen and (max-width: 767px) and (max-width: 500px) {
  #categorias body {
    width: 100%;
    font-size: 5vw;
    line-height: 13vw;
    text-align: justify;
  }
}
@media screen and (max-width: 767px) {
  #categorias h1 {
    color: #00687D;
    text-align: center;
  }
  #categorias .pai {
    font-size: 12vw;
    width: 50%;
    padding: 3vw;
    font-size: 4.3vw;
    position: sticky;
    bottom: 3vw;
    background-color: #00687D;
    color: white !important;
    border-radius: 0.48828125vw;
  }
  #categorias .pai::before {
    content: "Categoria pai:  ";
    padding-left: 5px;
  }
  #categorias .alignleft {
    float: left;
    margin-right: 0.5vw;
    border-radius: 0.9765625vw;
  }
  #categorias .alignright {
    float: right;
    margin-right: 0.5vw;
    border-radius: 0.9765625vw;
  }
  #categorias h1 {
    margin-top: 7vw;
    margin-bottom: 7vw;
  }
  #categorias #descricao,
  #categorias #descricao2 {
    margin-top: 5vh;
    line-height: 2;
    text-align: justify;
    color: #00687D;
    display: block;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin-bottom: 3vw;
  }
}
@media screen and (max-width: 767px) and (max-width: 768px) {
  #categorias #descricao body,
  #categorias #descricao2 body {
    width: 100%;
    font-size: 3.660156vw;
    line-height: 6vw;
    text-align: justify;
  }
}
@media screen and (max-width: 767px) and (max-width: 500px) {
  #categorias #descricao body,
  #categorias #descricao2 body {
    width: 100%;
    font-size: 5vw;
    line-height: 13vw;
    text-align: justify;
  }
}
@media screen and (max-width: 767px) {
  #categorias #descricao img,
  #categorias #descricao2 img {
    height: auto;
    border: 1px solid #00687D;
    margin: 2vw;
    border-radius: 2vw;
  }
  #categorias #descricao picture,
  #categorias #descricao2 picture {
    display: block;
    padding: 0;
    height: 60vh;
  }
  #categorias #descricao picture img,
  #categorias #descricao2 picture img {
    border: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    height: 100%;
    width: auto;
    max-width: auto;
  }
  #categorias #thumbCategory {
    max-width: 99%;
    height: auto;
    display: block;
  }
  #categorias #thumbCategory img {
    width: 100%;
    height: auto;
    border-radius: 1vw;
    border: 1px solid #00687D;
  }
  #categorias #posts {
    width: 90%;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  #categorias #posts article {
    border: 1px solid #00687D;
    margin-bottom: 2vw;
    height: auto;
    overflow: auto;
  }
  #categorias #posts article .entry-content {
    background-color: #f3f3f3;
    display: flex;
    gap: 1.2vw;
    flex-direction: column;
    text-align: center;
    font-weight: 100;
    line-height: 1.7;
    width: 100%;
  }
  #categorias #posts article .entry-content a {
    color: #00687D;
  }
  #categorias #posts article .entry-content p {
    margin: 1vw;
  }
  #categorias #posts article .entry-content picture {
    display: block;
    width: 100%;
    height: 25vh;
    overflow: hidden;
    position: relative;
  }
  #categorias #posts article .entry-content picture img {
    position: absolute;
    width: 110%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
/*****************************************************/
/*****************************************************/
@media screen and (min-width: 767.1px) {
  #icon {
    display: none;
    color: red;
  }
  #fundao {
    display: none;
  }
  .SegundoMenuTopo {
    background: linear-gradient(10deg, #00687D, #007d97);
  }
  .SegundoMenuTopo ul {
    padding-left: 3vw;
    display: flex;
    flex-direction: row;
    gap: 1.9296875vw;
    align-items: center;
    text-transform: uppercase;
    padding-top: 1.2vw;
    padding-bottom: 1vw;
    color: white;
  }
  .SegundoMenuTopo ul li {
    position: relative;
    color: white;
  }
  .SegundoMenuTopo ul li a {
    color: white !important;
    white-space: nowrap;
  }
  .SegundoMenuTopo ul li:hover ul {
    position: absolute;
    background-color: #00687D;
    padding: 1vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #D28746;
    display: flex;
    flex-direction: column;
    opacity: 0.9;
    animation: submenu 500ms forwards;
  }
  .SegundoMenuTopo ul li ul {
    display: none;
  }
  /**************************************************/
  /**************************************************/
  /**************************************************/
  /**************************************************/
  /**************************************************/
  @keyframes submenu {
    0% {
      opacity: 0;
      top: 1vw;
    }
    100% {
      opacity: 1;
      top: 0.4vw;
    }
  }
  /**************************************************/
  /**************************************************/
  /**************************************************/
  /**************************************************/
  /************************************************************/
  @keyframes hover {
    0% {
      background-color: #00687D;
    }
    100% {
      background-color: #0092b0;
    }
  }
  /************************************************************/
  /************************************************************/
  @keyframes menuDown {
    0% {
      top: -5vw;
      opacity: 0.1;
      z-index: 1;
    }
    100% {
      top: 1.5vw;
      opacity: 1;
      z-index: 1;
    }
  }
  /************************************************************/
}
/*****************************************************/
/*****************************************************/
@media screen and (min-width: 767.1px) {
  #categorias {
    display: grid;
    grid-template-columns: repeat(5fr);
    grid-template-rows: auto;
    margin-left: 6.765625vw;
    margin-right: 6.765625vw;
    /*************************************************************/
    /*************************************************************/
    /*************************************************************/
    /*************************************************************/
    /*************************************************************/
    /*************************************************************/
    /*************************************************************/
    /*************************************************************/
    /*************************************************************/
    /*************************************************************/
    /*************************************************************/
  }
  #categorias h1 {
    color: #00687D;
    padding: 1.6vw;
    font-size: 2.953125vw;
    grid-column: 1/5;
  }
  #categorias .alignright {
    margin-left: 0.7vw;
    float: right;
    border: 1px solid #00687D;
  }
  #categorias .alignleft {
    margin-right: 0.7vw;
    float: left;
    border: 1px solid #00687D;
  }
  #categorias #descricao,
  #categorias #descricao2 {
    display: flex;
    position: relative;
    height: auto;
    overflow: visible;
    line-height: 1.75;
    color: #00687D;
    text-align: justify;
    font-size: 1.1015625vw;
    align-items: center;
    /*****************************************************************/
    /*****************************************************************/
  }
  #categorias #descricao div,
  #categorias #descricao2 div {
    width: 50%;
    padding: 1.6vw;
    flex-grow: 1;
  }
  #categorias #descricao div p,
  #categorias #descricao2 div p {
    vertical-align: auto;
    max-width: 95%;
    margin-bottom: 1.753125vw;
  }
  #categorias #descricao picture,
  #categorias #descricao2 picture {
    margin: 1%;
    display: block;
    overflow: hidden;
    position: sticky;
    right: 0vw;
    width: 30.296875vw;
    height: 33.828125vw;
  }
  #categorias #descricao picture img,
  #categorias #descricao2 picture img {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #categorias #descricao {
    grid-column: 1/5;
    grid-row: 2/2;
  }
  #categorias #descricao2 {
    grid-column: 1/5;
    grid-row: 8/10;
  }
  #categorias #posts {
    grid-column: 1/5;
    grid-row: 6/8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px; /* Espaçamento entre os itens */
    margin-top: 1.5vw;
  }
  #categorias #posts article {
    border: 1px solid #00687D;
    display: block; /* Garantir que cada artigo ocupe o espaço do grid */
    height: auto;
    overflow: auto;
    padding-bottom: 1vw;
    border-radius: 0.48828125vw;
    background-color: #f3f3f3;
  }
  #categorias #posts article h2 {
    font-size: 2.44140625vw;
  }
  #categorias #posts article a {
    margin-bottom: 0.7vw;
    display: block;
    line-height: 1.5;
    padding-left: 1vw;
    padding-right: 1vw;
    color: #00687D;
  }
  #categorias #posts article .resumo {
    font-weight: 300;
  }
  #categorias #posts article picture {
    display: block;
    overflow: hidden;
    position: relative;
    height: 13.671875vw;
    margin-bottom: 1vw;
  }
  #categorias #posts article picture img {
    width: 120%;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #categorias .pai {
    border: 1px solid rgb(0, 149, 169);
    grid-row: 10/11;
    grid-column: 1/1;
    font-size: 1.953125vw;
    position: relative;
    padding: 0.623125vw;
    display: inline-block;
    padding-right: 1.953125vw;
    color: #00687D;
    text-transform: capitalize;
    margin-left: 1vw;
    background-color: #e3faff;
    margin-bottom: 1vw;
    border-radius: 0.38828125vw;
    overflow: hidden;
  }
  #categorias .pai:after {
    content: ".";
    color: #D28746;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 20px;
    background-color: #D28746;
  }
}
/*****************************************************/
*:has(.page-numbers) {
  background-color: transparent;
}

.page-numbers {
  border: 1px solid #00687D;
  color: #00687D;
  padding: 0.4vw;
}/*# sourceMappingURL=category.css.map */