@charset "UTF-8";
@media screen and (min-width: 0) and (max-width: 767px) {
  .desktop {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}
* {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: bold;
}

body {
  margin: 0px !important;
  max-width: 99.8vw;
  overflow-x: clip;
  width: 100vw;
}

.open {
  background-color: #D28746;
  padding: 1vw;
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  padding-top: 1.5vw;
  animation: alert 1s infinite;
  font-size: 0.771875vw;
}

@keyframes alert {
  0% {
    border: 1px solid #00687D;
    background-color: #f0d7c1;
  }
  50% {
    border: 1px solid #D28746;
    background-color: #dca26f;
  }
  100% {
    border: 1px solid #00687D;
    background-color: #f0d7c1;
  }
}
/********************************************************************/
.blink {
  animation: blink-animation 6s infinite alternate;
}
.blink a {
  background-color: transparent !important;
}
.blink:hover {
  background-color: #D28746;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  40% {
    background-color: #007d7d;
  }
  100% {
    opacity: 1;
  }
}
/********************************************************************/
::-moz-selection {
  background-color: #00687D; /* Cor de fundo da seleção */
  color: #ffffff; /* Cor do texto selecionado */
  text-shadow: 0px 0px 2px #000; /* Sombra opcional no texto */
}
::selection {
  background-color: #00687D; /* Cor de fundo da seleção */
  color: #ffffff; /* Cor do texto selecionado */
  text-shadow: 0px 0px 2px #000; /* Sombra opcional no texto */
}

/* Para navegadores baseados em WebKit (como Safari) */
::-webkit-selection {
  background-color: #00687D;
  color: #ffffff;
}

/* Para navegadores WebKit */
::-webkit-scrollbar {
  width: 1vw; /* Largura da barra de rolagem vertical */
  height: 1vw; /* Altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-thumb {
  background-color: #D28746; /* Cor do "polegar" da barra de rolagem */
}

::-webkit-scrollbar-track {
  background-color: #00687D; /* Cor do trilho da barra de rolagem */
}

/*****************************************************/
@media screen and (min-width: 767.1px) {
  #icon {
    display: none;
    color: red;
  }
  #fundao {
    display: none;
  }
  .SegundoMenuTopo {
    background: linear-gradient(10deg, #00687D, #007d97);
  }
  .SegundoMenuTopo ul {
    padding-left: 3vw;
    display: flex;
    flex-direction: row;
    gap: 1.9296875vw;
    align-items: center;
    text-transform: uppercase;
    padding-top: 1.2vw;
    padding-bottom: 1vw;
    color: white;
  }
  .SegundoMenuTopo ul li {
    position: relative;
    color: white;
  }
  .SegundoMenuTopo ul li a {
    color: white !important;
    white-space: nowrap;
  }
  .SegundoMenuTopo ul li:hover ul {
    position: absolute;
    background-color: #00687D;
    padding: 1vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #D28746;
    display: flex;
    flex-direction: column;
    opacity: 0.9;
    animation: submenu 500ms forwards;
  }
  .SegundoMenuTopo ul li ul {
    display: none;
  }
  /**************************************************/
  /**************************************************/
  /**************************************************/
  /**************************************************/
  /**************************************************/
  @keyframes submenu {
    0% {
      opacity: 0;
      top: 1vw;
    }
    100% {
      opacity: 1;
      top: 0.4vw;
    }
  }
  /**************************************************/
  /**************************************************/
  /**************************************************/
  /**************************************************/
  /************************************************************/
  @keyframes hover {
    0% {
      background-color: #00687D;
    }
    100% {
      background-color: #0092b0;
    }
  }
  /************************************************************/
  /************************************************************/
  @keyframes menuDown {
    0% {
      top: -5vw;
      opacity: 0.1;
      z-index: 1;
    }
    100% {
      top: 1.5vw;
      opacity: 1;
      z-index: 1;
    }
  }
  /************************************************************/
}
/*****************************************************/
/**press 'F1' and type "Show Live Server Preview"**/
.screen-reader-text {
  width: 1px;
  overflow: hidden;
}

/*****************************************************/
@media screen and (min-width: 767.1px) {
  #page {
    /*************************************************************/
    /*************************************************************/
    /*************************************************************/
    /*************************************************************/
    /*************************************************************/
    /*************************************************************/
    /*************************************************************/
    /*************************************************************/
    /********************************************************/
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* "1fr" ao invés de "ifr" */
    grid-template-rows: auto 7vw auto auto;
    grid-template-areas: "navegacao navegacao navegacao navegacao navegacao" "head head head head sideBar" "main main main main sideBar" "foot foot foot foot foot";
    /********************************************************/
    /********************************************************/
    /********************************************************/
    /********************************************************/
    /********************************************************/
    /********************************************************/
    /********************************************************/
    /********************************************************/
  }
  #page .promote {
    padding: 1vw;
    font-size: 1.171875vw;
    background-color: #00687D;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    border: 4px solid transparent;
    color: white;
    animation: backgroundInfo 4.3s infinite, lateral 1s linear infinite;
  }
  #page .promote a {
    color: white !important;
    font-size: 1.3671875vw;
  }
  #page .sidebar {
    position: fixed;
  }
  #page .sidebar h2 {
    text-transform: uppercase;
  }
  #page .sidebar .widget {
    padding-bottom: 1vw;
  }
  #page .sidebar .wp-block-latest-posts li {
    background-color: #00687D;
    margin-bottom: 0.48828125vw;
    padding: 0.8vw;
    text-transform: uppercase;
    border: none;
  }
  #page .sidebar .wp-block-latest-posts li:hover {
    background-color: #D28746;
  }
  #page .sidebar .wp-block-latest-posts li:hover a {
    border: none;
    background-color: #D28746;
  }
  #page .sidebar .wp-block-latest-posts li a {
    color: white;
    text-align: center;
    display: block;
    background-color: #00687D;
    border: none;
  }
  #page a {
    border: 1px solid #00687D;
    padding: 0.2vw;
    background-color: #0092b0;
    border-radius: 0.3vw;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
    display: contents;
    font-weight: 100;
    border: 1px solid #00687D;
    color: #00687D;
  }
  #page picture {
    max-width: 100%;
    height: 19.0625vw;
    overflow: hidden;
    display: block;
    position: relative;
    margin-bottom: 3vw;
    border: 0.1953125vw solid #00687D;
    border-radius: 0.3vw;
  }
  #page picture img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 102%;
    max-width: 100%;
    animation: color 12700ms infinite;
  }
  @keyframes color {
    0% {
      filter: saturate(1);
    }
    50% {
      filter: saturate(0.8);
    }
    70% {
      filter: saturate(0.5);
    }
    100% {
      filter: saturate(1);
    }
  }
  #page header {
    padding: 1vw;
    grid-area: head;
  }
  #page header h1 {
    color: #00687D;
    grid-column: 1/8;
    text-transform: uppercase;
    font-size: 2.7578125vw;
    margin-left: 1.3vw;
    margin-top: 2vw;
    padding-bottom: 10px !important;
    display: block;
    align-items: center;
  }
  #page header h2 {
    grid-column: 1/8;
    color: #00687D;
    text-transform: capitalize;
    font-size: 1.7378125vw;
    margin-bottom: 1vw;
  }
  #page header picture {
    grid-column: 1/8;
  }
  #page nav {
    grid-area: navegacao;
  }
  #page main {
    grid-area: main;
    padding: 1vw;
    font-size: 1.171875vw;
    color: #00687D;
    line-height: 1.4;
    text-align: justify;
  }
  #page main p {
    margin-left: 0.8vw;
    margin-right: 1.2vw;
    margin-bottom: 1vw;
  }
  #page main .wp-block-image {
    display: block;
  }
  #page main .wp-block-image img {
    max-width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #00687D;
  }
  #page aside {
    grid-area: sideBar;
    padding: 0.7vw;
    color: #00687D;
  }
  #page footer {
    grid-area: foot;
    padding: 1.2vw;
    background-color: #00687D;
    color: white;
    display: flex;
    gap: 0.9765625vw;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-top: 3vw;
    padding-bottom: 3vw;
  }
  #page footer ul li {
    list-style: circle;
    margin-bottom: 1vw;
  }
  #page footer ul li a {
    background-color: transparent;
    border: none;
    border: 1px solid #00687D;
    padding: 0.2vw;
    background-color: #0092b0;
    border-radius: 0.3vw;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
    display: contents;
    font-weight: 100;
    border: 1px solid #00687D;
    color: white;
  }
}
/*****************************************************/
/*****************************************************/
@media screen and (max-width: 767px) {
  #icon {
    display: block;
    margin: 1vw;
    width: 10vw;
    height: auto;
    position: fixed;
    background-color: white;
    padding: 1vw;
    border: 1px solid #00687D;
    z-index: 3;
    top: 1vw;
    border-radius: 0.48828125vw;
  }
  #fundao {
    display: none;
    background-color: rgba(255, 0, 0, 0);
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 20;
    position: fixed;
  }
  .openMenu {
    animation: menu 700ms forwards;
  }
  h1 {
    text-align: center;
    margin-top: 4.8828125vw;
  }
  .SegundoMenuTopo {
    left: 0px;
    position: fixed;
    top: 0px;
    background: linear-gradient(50deg, #0092b0, #00687D);
    z-index: 30;
    height: 100vh;
    padding: 3vw;
  }
  .SegundoMenuTopo ul li {
    margin: 1vw;
    margin-bottom: 3.9765625vw;
    white-space: nowrap;
    padding: 0.6vw;
    text-transform: uppercase;
    font-size: 2.471875vw;
    position: relative;
  }
  .SegundoMenuTopo ul li a {
    color: white;
    text-align: center;
    padding: 0.5vw;
  }
  .SegundoMenuTopo ul li:hover ul {
    animation: submenu 1s forwards;
    padding-top: 2vw;
    border-radius: 0.48828125vw;
    box-shadow: 0.9765625vw 0.9765625vw rgba(0, 0, 0, 0.474);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #00687D;
    display: block;
    border: 1px solid #D28746;
  }
  .SegundoMenuTopo ul li ul {
    display: none;
  }
  @keyframes submenu {
    0% {
      opacity: 0;
      left: -30px;
    }
    100% {
      opacity: 0.8;
      left: 6.953125vw;
    }
  }
  @keyframes hover {
    0% {
      background-color: #00687d;
    }
    100% {
      background-color: #003e4a;
    }
  }
  @keyframes menu {
    0% {
      top: -20vw;
      opacity: 0;
    }
    20% {
      top: -20vw;
      opacity: 0;
    }
    100% {
      top: 0vw;
      opacity: 1;
    }
  }
}
/*****************************************************/
.screen-reader-text {
  width: 1px;
  overflow: hidden;
}

/*****************************************************/
@media screen and (max-width: 767px) {
  body {
    color: #00687D;
  }
}
@media screen and (max-width: 767px) and (max-width: 768px) {
  body body {
    width: 100%;
    font-size: 3.660156vw;
    line-height: 6vw;
    text-align: justify;
  }
}
@media screen and (max-width: 767px) and (max-width: 500px) {
  body body {
    width: 100%;
    font-size: 5vw;
    line-height: 13vw;
    text-align: justify;
  }
}
@media screen and (max-width: 767px) {
  body picture {
    margin-top: 2.6041666667vh;
    margin-bottom: 2.6041666667vh;
    overflow: hidden;
    height: 25vh;
    display: block;
    border: 1px solid blue;
    position: relative;
  }
  body picture img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    min-height: 101%;
    transform: translate(-50%, -50%);
  }
  body nav {
    background-color: #00687D;
    position: fixed;
    left: 0px;
    top: 0px;
    display: block;
  }
  body nav a {
    color: white;
  }
  body header {
    line-height: 1.3;
  }
  body main {
    margin: 1.953125vw;
    max-width: 93vw;
  }
  body main p {
    line-height: 1.6;
    text-align: justify;
  }
  body main .wp-block-image img {
    max-width: 90vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #00687D;
  }
  body main .promote {
    margin-top: 3vw;
    margin-bottom: 3vw;
    padding: 1vw;
    font-size: 3.171875vw;
    background-color: #00687D;
    color: white;
    display: block;
    text-transform: uppercase;
    border: 4px solid transparent;
    color: white;
    animation: backgroundInfo 4.3s infinite, lateral 1s linear infinite;
  }
  body main .promote a {
    color: white !important;
    font-size: 3.3671875vw;
  }
  body .sidebar .widget {
    margin: 1vw;
    padding: 2vw;
  }
  body .sidebar .widget ul li {
    background-color: 1px solid green;
    padding: 2.4vw;
    background-color: #00687D;
    margin-bottom: 1vw;
    text-align: center;
  }
  body .sidebar .widget ul li a {
    color: white;
    text-transform: uppercase;
    font-weight: 100;
  }
  body .sidebar .widget ul li:hover {
    background-color: #D28746;
  }
  body footer {
    background-color: #00687D;
    color: white;
    padding: 3vw;
    margin-top: 4vh;
  }
  body footer ul {
    margin-top: 7vw;
  }
  body footer ul li {
    display: block;
    border: 1px solid rgb(255, 255, 255);
    padding: 3vw;
    margin-bottom: 0.4vw;
    text-align: center;
  }
  body footer ul li a {
    color: white;
  }
  body footer ul li:hover {
    background-color: white;
    color: #00687D;
  }
  body footer ul li:hover a {
    color: #00687D;
  }
}
/*****************************************************/
@keyframes backgroundInfo {
  0% {
    background-color: #00687D;
  }
  50% {
    background-color: #0092b0;
  }
  100% {
    background-color: #00687D;
  }
}
@keyframes lateral {
  0% {
    border-right: 4px solid #007d7d;
  }
  25% {
    border-bottom: 4px solid #007d7d;
  }
  50% {
    border-left: 4px solid #007d7d;
  }
  100% {
    border-top: 4px solid #007d7d;
  }
}/*# sourceMappingURL=page.css.map */