@import "./reset/reset";
@import "../partes/pages/css/style"; 






@keyframes backgroundInfo{
    0%   { background-color: $cor1;  }
    50% { background-color: lighten($cor1,10%); }
    100% { background-color: $cor1; }
}



@keyframes  lateral{
    0%   {border-right: 4px solid $cor3;}
    25%  {border-bottom: 4px solid $cor3}
    50%  {border-left: 4px solid $cor3}
    100% {border-top: 4px solid $cor3}
}