@media screen and (min-width: 0) and (max-width: 767px) {
  .desktop {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}
* {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: bold;
}

body {
  margin: 0px !important;
  max-width: 99.8vw;
  overflow-x: clip;
}

.screen-reader-text {
  width: 1px;
  overflow: hidden;
}

/*****************************************************/
@media screen and (max-width: 767px) {
  #icon {
    display: block;
    position: fixed;
    left: 1.953125vw;
    top: 1.953125vw;
    width: 10.90625vw;
    z-index: 800000;
  }
  #fundao {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 890000;
    background-color: #00687D;
    opacity: 0.2;
    position: fixed;
    left: 0;
    top: 0;
  }
  nav {
    padding-top: 3.6041666667vh;
    max-width: 70vw;
    padding: 4vw;
    background-color: #00687D;
    position: fixed;
    left: -50vw;
    top: 0;
    height: 100vh;
    z-index: 900000;
  }
}
@media screen and (max-width: 767px) and (max-width: 768px) {
  nav body {
    width: 100%;
    font-size: 3.660156vw;
    line-height: 6vw;
    text-align: justify;
  }
}
@media screen and (max-width: 767px) and (max-width: 500px) {
  nav body {
    width: 100%;
    font-size: 5vw;
    line-height: 9vw;
    text-align: justify;
  }
}
@media screen and (max-width: 767px) {
  nav ul {
    gap: 2.9296875vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav ul *:has(.sub-menu) {
    padding: 3vw;
    background-color: rgba(255, 255, 255, 0.175);
    border-radius: 0.9765625vw;
  }
  nav ul *:has(.sub-menu):hover .sub-menu {
    position: absolute;
    top: 0;
    background-color: #007d97;
    width: 70vw;
    display: block;
    height: 100vh;
    padding: 10vw;
    animation: AbreSubMenu 300ms ease-in-out forwards;
    border-left: 0.1953125vw solid #003e4a;
  }
  nav ul *:has(.sub-menu):hover .sub-menu li {
    background-color: #00687D;
    width: 90%;
    padding: 2vw;
    border-radius: 1.953125vw;
    margin-bottom: 2vw;
    text-align: center;
  }
  nav ul li {
    max-width: 100%;
  }
  nav ul li a {
    text-transform: capitalize;
    color: white;
    font-weight: 200;
  }
  nav ul li .sub-menu {
    display: none;
  }
  .openMenu {
    animation: AbreMenu 900ms ease-in-out forwards;
  }
  @keyframes AbreMenu {
    0% {
      left: -70vw;
    }
    100% {
      left: 0;
    }
  }
  @keyframes AbreSubMenu {
    0% {
      left: 60vw;
      opacity: 0;
    }
    100% {
      left: 39vw;
      opacity: 1;
    }
  }
}
/*****************************************************/
.screen-reader-text {
  width: 1px;
  overflow: hidden;
}

/*****************************************************/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #fundao {
    display: none;
  }
  #header {
    height: auto;
    padding-top: 9.765625vw;
    padding-bottom: 15.859375vw;
    padding-left: 8.59375vw;
    padding-right: 2.9296875vw;
    width: 99.98vw;
    display: block;
    position: relative;
  }
  #header h1 {
    width: 39.0625vw;
    font-size: 3.515625vw;
    line-height: 1.1;
    margin-bottom: 1.953125vw;
    color: #001317;
  }
  #header h2 {
    width: 38.37890625vw;
    font-size: 2.24609375vw;
    line-height: 1.1;
    margin-bottom: 19px;
    display: block;
    color: #001317;
  }
  #header section {
    display: inline-block;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 501px) {
  #header section a {
    padding-left: 0.78125vw;
    padding-top: 0.68359375vw;
    padding-right: 0.78125vw;
    padding-bottom: 0.68359375vw;
    color: white;
    background-color: #00687D;
    font-size: 1.171875vw;
    margin-right: 0;
    display: inline-block;
    text-transform: capitalize;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (max-width: 500.12px) {
  #header section a {
    background-color: #00687D;
    color: white;
    padding: 4vw;
    font-size: 1.66015625vw;
    position: relative;
    z-index: 30;
    display: inline-block;
    width: 100%;
    text-align: center;
    border: none;
    margin-bottom: 3vh;
    text-transform: capitalize;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #header p {
    margin-top: 1.85546875vw;
    width: 36.81640625vw;
    height: 26.3671875vw;
    font-size: 1.513671875vw;
    line-height: 1.8;
    color: #00687D;
    text-align: justify;
    color: #00687D;
  }
  #header picture {
    width: auto;
    height: auto;
    overflow: hidden;
    position: absolute;
    right: 2.9296875vw;
    top: 9.765625vw;
  }
  #header picture img {
    width: 42.48046875vw;
    height: 54.6875vw;
  }
}
/*****************************************************/
.screen-reader-text {
  width: 1px;
  overflow: hidden;
}

/*****************************************************/
@media screen and (min-width: 767.1px) {
  #icon {
    display: none;
  }
  #fundao {
    display: none;
  }
  nav {
    padding-top: 0.5859375vw;
    padding-bottom: 0.5859375vw;
    padding-left: 3.61328125vw;
    padding-right: 3.61328125vw;
    background-color: #00687D;
    display: flex;
    flex-direction: row-reverse;
    color: white;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    gap: 1.26953125vw;
  }
  nav ul li {
    position: relative;
    white-space: nowrap;
    display: flex;
    flex-direction: row-reverse;
    font-size: 0.87890625vw;
    /*************************************************/
    /*************************************************/
  }
  nav ul li a {
    color: white;
    text-transform: capitalize;
    font-weight: 200;
    align-content: center;
  }
  nav ul li:hover ul {
    display: flex;
  }
  nav ul li ul {
    display: none;
    position: absolute;
    flex-direction: column;
    z-index: 3000;
    align-items: flex-start;
    padding-top: 2vw;
    gap: 0.4vw;
    left: 50%;
    transform: translateX(-50%);
  }
  nav ul li ul li {
    background-color: #00687D;
    width: 100%;
    padding: 1vw;
    border-radius: 0.7vw;
    text-align: left;
    font-size: 1.3671875vw;
    box-shadow: 0.78125vw 0.78125vw 2.78125vw #00687D;
  }
  nav ul li ul li:hover {
    animation: menuLi 200ms forwards;
  }
  @keyframes menuLi {
    0% {
      background-color: #00687D;
    }
    50% {
      background-color: #FFE691;
    }
    100% {
      background-color: #00687D;
    }
  }
}
/*****************************************************/
/*****************************************************/
@media screen and (max-width: 767px) and (max-width: 768px) {
  body {
    width: 100%;
    font-size: 3.660156vw;
    line-height: 6vw;
    text-align: justify;
  }
}
@media screen and (max-width: 767px) and (max-width: 500px) {
  body {
    width: 100%;
    font-size: 5vw;
    line-height: 9vw;
    text-align: justify;
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0.68359375vw;
  }
  nav {
    grid-area: nav;
    padding: 10px;
    grid-column: 1/9;
    grid-row: 1;
  }
  main {
    padding: 10px;
    grid-column: 1/9;
    color: #001317;
    line-height: 1.8;
    padding-left: 3.9296875vw;
    padding-right: 3.9296875vw;
    padding-top: 5vw;
    padding-bottom: 2vw;
  }
  main h1 {
    text-transform: capitalize;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  main .thumb {
    width: 100%;
    height: auto;
    border-radius: 0.68359375vw;
  }
  main figure {
    max-width: 100%;
  }
  main figure img {
    width: 99%;
    height: auto;
  }
  main #content p {
    text-align: justify;
  }
  aside {
    padding: 10px;
    grid-column: 1/9;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.1953125vw;
  }
  footer {
    grid-column: 1/9;
  }
}
/*****************************************************/
.screen-reader-text {
  width: 1px;
  overflow: hidden;
}

/*****************************************************/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #fundao {
    display: none;
  }
  #header {
    height: auto;
    padding-top: 9.765625vw;
    padding-bottom: 15.859375vw;
    padding-left: 8.59375vw;
    padding-right: 2.9296875vw;
    width: 99.98vw;
    display: block;
    position: relative;
  }
  #header h1 {
    width: 39.0625vw;
    font-size: 3.515625vw;
    line-height: 1.1;
    margin-bottom: 1.953125vw;
    color: #001317;
  }
  #header h2 {
    width: 38.37890625vw;
    font-size: 2.24609375vw;
    line-height: 1.1;
    margin-bottom: 19px;
    display: block;
    color: #001317;
  }
  #header section {
    display: inline-block;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 501px) {
  #header section a {
    padding-left: 0.78125vw;
    padding-top: 0.68359375vw;
    padding-right: 0.78125vw;
    padding-bottom: 0.68359375vw;
    color: white;
    background-color: #00687D;
    font-size: 1.171875vw;
    margin-right: 0;
    display: inline-block;
    text-transform: capitalize;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (max-width: 500.12px) {
  #header section a {
    background-color: #00687D;
    color: white;
    padding: 4vw;
    font-size: 1.66015625vw;
    position: relative;
    z-index: 30;
    display: inline-block;
    width: 100%;
    text-align: center;
    border: none;
    margin-bottom: 3vh;
    text-transform: capitalize;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #header p {
    margin-top: 1.85546875vw;
    width: 36.81640625vw;
    height: 26.3671875vw;
    font-size: 1.513671875vw;
    line-height: 1.8;
    color: #00687D;
    text-align: justify;
    color: #00687D;
  }
  #header picture {
    width: auto;
    height: auto;
    overflow: hidden;
    position: absolute;
    right: 2.9296875vw;
    top: 9.765625vw;
  }
  #header picture img {
    width: 42.48046875vw;
    height: 54.6875vw;
  }
}
/*****************************************************/
a {
  color: #002d36;
}

/*****************************************************/
@media screen and (min-width: 767.1px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0.68359375vw;
  }
  nav {
    grid-area: nav;
    padding: 10px;
    grid-column: 1/9;
    grid-row: 1;
  }
  main {
    padding: 10px;
    grid-column: 1/7;
    color: #00687D;
    line-height: 1.8;
    padding-left: 8.59375vw;
    padding-top: 5vw;
    padding-bottom: 2vw;
  }
  main h1 {
    font-size: 1.953125vw;
    text-transform: capitalize;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  main .thumb {
    width: 100%;
    height: auto;
    border-radius: 0.68359375vw;
  }
  main figure {
    max-width: 99%;
  }
  main figure img {
    max-width: 99%;
    height: auto;
  }
  main #content p {
    text-align: justify;
  }
  aside {
    padding: 10px;
    grid-column: 7/8;
  }
  footer {
    grid-column: 1/9;
  }
}
/*****************************************************/
.screen-reader-text {
  width: 1px;
  overflow: hidden;
}

/*****************************************************/
@media screen and (max-width: 767px) {
  footer {
    background-color: #00687d;
    padding-left: 8.59375vw;
    padding-right: 8.59375vw;
    padding-top: 6.169921875vh;
    display: flex;
    flex-direction: column;
    gap: 5.9765625vw;
    justify-content: space-around;
    padding-bottom: 3.2353515625vw;
  }
  footer #contato {
    /******************************/
    padding: 4.6748046875vw;
    background-color: #0092b0;
    color: white;
    border-radius: 0.79296875vw;
    width: 100%;
    gap: 1.080078125vw;
    display: flex;
    flex-direction: column;
    height: auto;
    /******************************/
  }
}
@media screen and (max-width: 767px) and (max-width: 768px) {
  footer #contato body {
    width: 100%;
    font-size: 3.660156vw;
    line-height: 6vw;
    text-align: justify;
  }
}
@media screen and (max-width: 767px) and (max-width: 500px) {
  footer #contato body {
    width: 100%;
    font-size: 5vw;
    line-height: 9vw;
    text-align: justify;
  }
}
@media screen and (max-width: 767px) {
  footer #listaDeProdutos {
    padding: 4.6748046875vw;
    background-color: #0092b0;
    color: white;
    border-radius: 0.79296875vw;
    width: 100%;
    width: 100%;
  }
  footer #listaDeProdutos h2 {
    margin-bottom: 1.080078125vw;
  }
  footer #listaDeProdutos ul {
    display: flex;
    flex-direction: row;
    gap: 2.2353515625vw;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer #listaDeProdutos ul li {
    white-space: nowrap;
  }
}
@media screen and (max-width: 767px) and (max-width: 768px) {
  footer #listaDeProdutos ul li body {
    width: 100%;
    font-size: 3.660156vw;
    line-height: 6vw;
    text-align: justify;
  }
}
@media screen and (max-width: 767px) and (max-width: 500px) {
  footer #listaDeProdutos ul li body {
    width: 100%;
    font-size: 5vw;
    line-height: 9vw;
    text-align: justify;
  }
}
/*****************************************************/
.screen-reader-text {
  width: 1px;
  overflow: hidden;
}

/*****************************************************/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #fundao {
    display: none;
  }
  #header {
    height: auto;
    padding-top: 9.765625vw;
    padding-bottom: 15.859375vw;
    padding-left: 8.59375vw;
    padding-right: 2.9296875vw;
    width: 99.98vw;
    display: block;
    position: relative;
  }
  #header h1 {
    width: 39.0625vw;
    font-size: 3.515625vw;
    line-height: 1.1;
    margin-bottom: 1.953125vw;
    color: #001317;
  }
  #header h2 {
    width: 38.37890625vw;
    font-size: 2.24609375vw;
    line-height: 1.1;
    margin-bottom: 19px;
    display: block;
    color: #001317;
  }
  #header section {
    display: inline-block;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 501px) {
  #header section a {
    padding-left: 0.78125vw;
    padding-top: 0.68359375vw;
    padding-right: 0.78125vw;
    padding-bottom: 0.68359375vw;
    color: white;
    background-color: #00687D;
    font-size: 1.171875vw;
    margin-right: 0;
    display: inline-block;
    text-transform: capitalize;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (max-width: 500.12px) {
  #header section a {
    background-color: #00687D;
    color: white;
    padding: 4vw;
    font-size: 1.66015625vw;
    position: relative;
    z-index: 30;
    display: inline-block;
    width: 100%;
    text-align: center;
    border: none;
    margin-bottom: 3vh;
    text-transform: capitalize;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #header p {
    margin-top: 1.85546875vw;
    width: 36.81640625vw;
    height: 26.3671875vw;
    font-size: 1.513671875vw;
    line-height: 1.8;
    color: #00687D;
    text-align: justify;
    color: #00687D;
  }
  #header picture {
    width: auto;
    height: auto;
    overflow: hidden;
    position: absolute;
    right: 2.9296875vw;
    top: 9.765625vw;
  }
  #header picture img {
    width: 42.48046875vw;
    height: 54.6875vw;
  }
}
/*****************************************************/
.screen-reader-text {
  width: 1px;
  overflow: hidden;
}

/*****************************************************/
@media screen and (min-width: 767.1px) {
  footer {
    background-color: #00687d;
    padding-left: 8.59375vw;
    padding-right: 8.59375vw;
    padding-top: 2.169921875vw;
    display: flex;
    gap: 0.9765625vw;
    justify-content: space-around;
    padding-bottom: 2.2353515625vw;
  }
  footer #contato {
    /******************************/
    padding-bottom: 0.6748046875vw;
    padding-left: 1.0126953125vw;
    padding-right: 1.0126953125vw;
    padding-top: 0.9748046875vw;
    background-color: #4ae1ff;
    color: #002831;
    border-radius: 0.29296875vw;
    gap: 1.080078125vw;
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: 1.26015625vw;
    /******************************/
  }
  footer #listaDeProdutos {
    padding-bottom: 0.6748046875vw;
    padding-left: 1.0126953125vw;
    padding-right: 1.0126953125vw;
    padding-top: 0.9748046875vw;
    background-color: #4ae1ff;
    color: #002831;
    border-radius: 0.29296875vw;
    width: 36.2314453125vw;
  }
  footer #listaDeProdutos h2 {
    margin-bottom: 1.080078125vw;
  }
  footer #listaDeProdutos ul {
    display: flex;
    flex-direction: row;
    gap: 2.2353515625vw;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer #listaDeProdutos ul li {
    white-space: nowrap;
    font-size: 1.26015625vw;
  }
}
/*****************************************************/
/*


@import "../partes/header/css/style";


//@import "../partes/contatos_/css/style";


*//*# sourceMappingURL=page.css.map */