@import "../mixins/mobile";
@media screen and (max-width: 768px) {
    footer {
        @include fontesMobile(t);
        font-family: ardela;
        font-size: 0.9765625vw;
        color: white;
        line-height: 1.6748046875vw;

        background-color: $cor1;
        padding: 4vw;

        section:nth-child(1) {
            p{
                @include fontesMobile(t);
                color: white; 
                margin-bottom: 5vh;
            }
            border-bottom:1px solid white;
        }


        section:nth-child(2) {
            ul {
                li {
                    position: relative;
                    a {
                        @include fontesMobile(t);
                        color: white;
                        position: absolute;
                        top: 42%;
                        transform: translateY(-50%);
                    }
                    padding: 2vw;
                    line-height: 4vh;
                    .menuIcon {
                        margin-right: 3vw;
                        height: 7vw;
                        width: 7vw;
                        path {
                            @include coresControle(6);
                        }
                    }
                }
            }
            border-bottom:1px solid white;
        }

        section:nth-child(3) {
            ul {
                li {
                    //border: 1px solid red;
                    color: white;
                    line-height: 7vh;
                    a {
                        @include fontesMobile(t);
                        color: white;
                    }
                }
            }
            margin-top: 3vh;
            margin-bottom: 5vh;
            border-bottom:1px solid white;
        }

        /************************************************/
        section:nth-child(4) {
            margin-top: 3vh;
            margin-bottom: 5vh;
            border-bottom:1px solid white;
            p{
                @include fontesMobile(t);
                color:white;
            }
        }
        /************************************************/ 
        /************************************************/
        section:nth-child(5) {
            @include fontesMobile(t);
            color: white;
            margin-top: 3vh;
            margin-bottom: 5vh;
        }
    }
}
