@media screen and (min-width: 768px) {
    footer {
        font-family: ardela;
        font-size: 0.9765625vw;
        color: white;
        line-height: 1.6748046875vw;

        background-color: $cor1;
        padding-left: 2vw;
        padding-top: 2vw;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        //gap: 3.515625vw;
        column-gap: 3.515625vw;

        grid-template-areas:
            "primeiro  segundo terceiro quarto quarto "
            ". quinto quinto quinto  quinto ";

        /**********************************************************************/
        /**********************************************************************/
        section:nth-of-type(1) {
            grid-area: primeiro;
        }
        section:nth-of-type(2) {
            grid-area: segundo;
        }
        section:nth-of-type(3) {
            grid-area: terceiro;
        }
        section:nth-of-type(4) {
            grid-area: quarto;
        }
        section:nth-of-type(5) {
            grid-area: quinto;
        }
        /**********************************************************************/
        /**********************************************************************/

        section {
            h2 {
                font-size: 1.953125vw;
                font-family: Zenfont;
                margin-bottom: 1.5vw;
            }
            p {
                font-size: 0.9765625vw;
                text-align: justify;
                width: 90%;
            }
            ul {
                display: flex;
                width: 16.6015625vw;
                //height: 26.953125vw;
                padding: 0.9765625vw 2.34375vw;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.9765625vw;
                flex-shrink: 0;
                border-right: 0.09765625vw solid #787878;
                li {
                    display: flex;
                    width: 8.984375vw;
                    padding: 0.48828125vw;
                    align-items: center;
                    gap: 0.68359375vw;
                    border: 1px solid #000;
                    background: rgba(255, 255, 255, 0.54);

                    object {
                        position: relative;
                        height: 1.62vw;
                        svg {
                            width: 1.46484375vw;
                            height: 1.46484375vw;
                            //left: 0;
                            //bottom: 0;*/
                            path {
                                fill: $cor1;
                            }
                        }
                    }
                    a {
                        color: #000;
                        font-size: 0.68359375vw;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.6748046875vw;
                    }
                }
            }
        }

        #texto {
            p {
                background-color: #ffffff17;
                padding: 2vw;
            }
        }
        #roodapeFooter {
            line-height: 3vw;
            text-align: center;
            padding: 1vw;
            background-color: darken($cor1, 20);
        }

        #roodapeFooter {
            margin-top: 2vw;
        }
    }
}
