@import "../../../css/mixins/heights";
@import "../../../css/util/_breakpoints";
@import "../../../css/mixins/button";
@import "./../../menu/css/menuInterno/desktop";

@mixin descricoes() {
    line-height: 2;
    text-align: justify;
    font-size: 1.171875vw;
}

@include respond-to(bigger) {
    #categorias {
        display: grid;
        grid-template-columns: repeat(5fr);
        grid-template-rows: auto;
      

       
        h1 {
            color: $cor1;
            padding: 1.6vw;
            font-size: 2.953125vw;
            grid-column: 1/5;
        }

        margin-left: 6.765625vw;
        margin-right: 6.765625vw;

        .alignright {
            margin-left: 0.7vw;
            float: right;
            border: 1px solid $cor1;
        }
        .alignleft {
            margin-right: 0.7vw;
            float: left;
            border: 1px solid $cor1;
        }

        #descricao,
        #descricao2 {
            display: flex;
            position: relative;
            height: auto;
            overflow: visible;
            line-height: 1.75;
            color: $cor1;
            text-align: justify;
            font-size: 1.1015625vw;
            align-items: center;
            div {
                width: 50%;
                padding: 1.6vw;
                flex-grow: 1; 
                p {
                    vertical-align: auto;
                    max-width: 95%;
                    margin-bottom: 1.753125vw;
                }
            }

            /*****************************************************************/
            picture {
                margin: 1%;
                display: block;
                overflow: hidden;
                position: sticky;
                //border: 1px solid red;
                right: -0vw;
                width:30.296875vw;
                height: 33.828125vw;
              
                img {
                    height: 100%;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            /*****************************************************************/
        }

        #descricao {
            grid-column: 1/5;
            grid-row: 2/2;
        }
        #descricao2 {
            grid-column: 1/5;
            grid-row: 8/10;
        }

        /*************************************************************/
        /*************************************************************/
        /*************************************************************/
        /*************************************************************/
        #posts {
            grid-column: 1/5;
            grid-row: 6/8;
            display: grid;
            grid-template-columns: repeat(
                3,
                1fr
            ); //grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr)); /* Ajusta a largura dos artigos */
            gap: 15px; /* Espaçamento entre os itens */
            margin-top: 1.5vw;

            article {
                border: 1px solid $cor1;
                display: block; /* Garantir que cada artigo ocupe o espaço do grid */
                height: auto;
                overflow: auto;
                padding-bottom: 1vw;
                border-radius: 0.48828125vw;
                background-color: lighten(grey, 45);

                h2 {
                    font-size: 2.44140625vw;
                }

                a {
                    margin-bottom: 0.7vw;
                    display: block;
                    line-height: 1.5;
                    padding-left: 1vw;
                    padding-right: 1vw;
                    color: $cor1;
                }

                .resumo{
                    font-weight: 300;
                }

                picture {
                    display: block;
                    overflow: hidden;
                    position: relative;
                    height: 13.671875vw;
                    margin-bottom: 1vw;
              
                    img {
                        width: 120%;
                        height: fit-content;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
        /*************************************************************/
        /*************************************************************/
        /*************************************************************/
        /*************************************************************/
        /*************************************************************/

        .pai {
            border: 1px solid rgb(0, 149, 169);
            grid-row: 10/11;
            grid-column: 1/1;
            font-size: 1.953125vw;
            position: relative;
            padding:0.623125vw ;
            display: inline-block;
            padding-right: 1.953125vw;
            color: $cor1;
            text-transform: capitalize;
            margin-left: 1vw;
            background-color: lighten($cor1,70);
            margin-bottom: 1vw;
            border-radius: 0.38828125vw;
            overflow: hidden;
            &:after{
                content: ".";
                color: $cor2;
                position: absolute;
                right: 0px;
                top: 0px;
                height: 100%;
                width: 20px;
                background-color: $cor2;
            }
        }
         
        /*************************************************************/
        /*************************************************************/
    }
}
