@import "../../../css/mixins/heights";
@import "../../../css/util/_breakpoints";
@import "../../../css/variaveis/caminhos";
@import "../../../css/variaveis/caminhos";
@import "../../../css/util/breakpoints";
@import "../../../css/mixins/button";
@import "../../css/slick/slick.css";
@import "../../../css/mixins/containerQuery";
@import "../../../css/mixins/blog/all";

.screen-reader-text {
    width: 1px;
    overflow: hidden;
}

@mixin paragrafos() {
    height: auto;
    font-size: 1.66015625vw;
    line-height: 1.438;
    margin-bottom: 3.515625vw;
    color: $cor1;
    @content;
}

@include respond-to(bigger) {
    #services {
        padding-left: 7.421875vw;
        padding-right: 7.51953125vw;
        padding-top: 8.3984375vw;
        padding-bottom: 7.51953125vw;

        position: relative;
        background-repeat: no-repeat;
        background-size: cover;

        #portifolio {
            padding-bottom: 6.25vw;

            h2 {
                color: $cor1;
                font-size: 4.78515625vw;
                margin-bottom: 1.4vw;
            }
            p {
                width: 37.20703125vw;
                @include paragrafos() {
                    text-align: justify;
                }
            }

            #botao {
                position: absolute;
                left: 7.421875vw;
                top: 32.16vw;
                background-color: $cor2;
                padding-top: 1.26953125vw;
                padding-bottom: 0.9765625vw;
                padding-left: 0.9765625vw;
                padding-right: 0.9765625vw;
                font-size: 1.753125vw;
                color: white;
                border-radius: 0.48828125vw;
            }

            #direitaArrow {
                right: 7.51953125vw;
                top: 19.82421875vw;
                position: absolute;
                height: 2.5556640625vw;
                width: 1.5556640625vw;
            }

            #EsquerdaArrow {
                right: 51.4vw;
                top: 19.82421875vw;
                position: absolute;
                height: 2.5556640625vw;
                width: 1.5556640625vw;
            }

            #slidePortifolio {
                position: absolute;
                right: 8.59375vw;
                width: 43.26171875vw;
                height: 27.63671875vw;
                top: 8.3984375vw;

                li {
                    position: relative;
                    overflow: hidden;
                    display: block;
                    width: 43.26171875vw;
                    height: 27.63671875vw;
                    border: 1px solid $cor1;
                    border-radius: 0.78125vw;

                    picture {
                        height: auto;
                        width: 100%;
                        position: absolute;
                        display: block;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}
