@media screen and (min-width: 768px) {
    #outrosProdutos {
        display: flex;
        //padding: 4.296875vw 3.02734375vw;
        justify-content: center;
        align-items: center;
        gap: 1.66015625vw;
        flex-shrink: 0;
        height: 43.45703125vw;
        background-image: url(../../../imagens/maisProdutos.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        div {
            display: flex;
            min-height: 30.2734375vw;
            height: auto;
            padding-left: 2.05078125vw;
            padding-right: 2.05078125vw;
            width: 28.7109375vw;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.9765625vw;
            color: $cor1;
            background: #fff;
            position: relative;

            h2 {
                font-size: 1.85546875vw;
                font-family: Ardela;
                position: absolute;
                top: 1.26953125vw;
            }

            img {
                width: 6.0546875vw;
                height: auto;
            }

            object {
                z-index: 20;
                svg {
                    path {
                        @include coresControle(3);
                    }
                }
            }

            article {
                text-align: center;
                font-family: Ardela;
                font-size: 1.171875vw;
                font-style: normal;
                font-weight: 400;
                line-height: 2.689453125vw;
            }
        }
    }
}
