@import "../mixins/mobile";

@media screen and (max-width: 767px) {
    #outrosProdutos {
        //display: flex;
        //justify-content: center;
        //align-items: center;
        //gap: 1.66015625vw;
        //flex-shrink: 0;
        min-height: 43.45703125vw;
        height: auto;
        background-image: url(../../../imagens/maisProdutos.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        //flex-direction: column;
        //padding: 2vw;
        padding-bottom: 6vh;
        //width: 100vw;

        div {
            border: 1px solid $cor1;
            padding: 2vw;
            background-color: white;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            h2 { 
                text-align: center!important; 
                @include fontesMobile(t);  
            }
            img { }


            object {
                ///border: 1px solid red;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                z-index: 20;
                width: 5vw;
                height: auto;
                svg {
                    path {
                        fill: $cor8;
                    }
                }
            }

            article {
                @include fontesMobile(p);
            }
        }
    }
}
