@media screen and (max-width: 767px) {


    #textoApresentacao {
        display: flex;
        padding: 5vw;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3.41796875vw;
        flex-shrink: 0;

        font-family: ardela;
        color: white;
        background-color: $cor1;
        object {
            svg {
                path {
                    fill: lighten($cor1, 30);
                }
            }
        }
        p {
            line-height: 6vw;
            font-size: 3.2vw;
            text-align: justify;
        }
    }



  
}
