@import "../containerQuery";


@mixin paragrafos() {
    height: auto;
    font-size: 1.66015625vw;
    line-height: 1.438;
    margin-bottom: 3.515625vw;
    color: $cor1;
    @content;
}


@include respond-to(desktop) {
    #blog {
       // border: 1px solid red;
        height: auto;
        //padding-bottom: 0.029296875vw; //padding-bottom: 5.029296875vw;
        padding-top: 6.029296875vw;
        //border: 1px solid rgb(0, 17, 255);

        .info {
            display: none;
        }

        #postsDoBlog {
            display: grid;
            grid-template-columns: repeat(15, 1fr); /* 5 colunas de tamanho igual */
            grid-template-rows: repeat(11, minmax(0, 8.7890625vw)); /* 2 linhas de tamanho igual */
            gap: 0.08359375vw;
            padding-bottom: 2vw;

            #bloco1 {
                grid-column: 1/5;
                grid-row: 1/7;
                border: none;
                width: 95%;
                p {
                    @include paragrafos() {
                        color: white;
                        text-align: justify;
                    }
                }
            }

            #post1 {
                grid-column: 5/8;
                grid-row: 1/5;
                // grid-area:post1;
            }

            #post2 {
                grid-column: 8/13;
                grid-row: 1/3;
            }

            #post3 {
                grid-column: 13/16;
                grid-row: 1/4;
            }

            #post4 {
                grid-column: 8/13;
                grid-row: 3/5;
            }

            #post5 {
                grid-column: 14/16;
                grid-row: 5/8;
            }

            #post6 {
                grid-column: 9/14;
                grid-row: 5/8;
            }

            #post7 {
                grid-column: 5/9;
                grid-row: 8/10;
            }

            #post8 {
                grid-column: 1/5;
                grid-row: 7/11;
            }

            #post9 {
                grid-column: 5/9;
                grid-row: 5/8;
            }

            #post10 {
                grid-column: 14/16;
                grid-row: 9/12;
            }

            #post11 {
                grid-column: 1/5;
                grid-row: 4/7;
            }

            #post12 {
                grid-column: 9/14;
                grid-row: 8/10;
            }

            #post13 {
                grid-column: 5/14;
                grid-row: 10/12;
            }

            div {
                // border-radius: 0.48828125vw;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                //overflow: hidden; 
                overflow: visible;
                ///border: 0.0298046875vw solid $cor1;

                h2 {
                    background-color: $cor2;
                    font-size: 3.125vw;
                    padding: 0.9765625vw;
                    padding-top: 1.26953125vw;
                    color: white;
                    text-transform: capitalize;
                    display: inline-block;
                    border-radius: 0.48828125vw;
                    margin-bottom: 19.5px;
                }

                /*****************************************************************/

                /***************************************************************/
            }
        }
    }
}
