///@import "../containerQuery";
@import "../fontes";

@mixin paragrafos() {
    height: auto;
    line-height: 1.438;
    margin-bottom: 3.515625vw;
    color: $cor1;
    @content;
}

@include respond-to(mobile) {
    #blog {
        @include fontes();
        height: auto;
        overflow: visible;


        position: relative;
        left: 53%;
        transform: translateX(-50%);
        width: 99%;


        #postsDoBlog {
            height: auto;
            overflow: auto;
            /**********************************************************/

            /**********************************************************/
            #bloco1 {
                h2 {
                    text-transform: capitalize;
                    text-align: center;
                }
                @include paragrafos() {
                    background-color: white;
                    padding: 3.5vw;
                    border-radius: 1.4vw;
                    text-align: justify;
                }
                @include fontes();
            }

            .card {
                position: relative;
                border: 1px solid rgb(0, 139, 170);
                float: left;
                width: 48%;
                overflow: hidden;
                height: 30vh;
                z-index: 60;
                picture {
                    position: relative;
                    height: 100%;
                    overflow: hidden;
                    z-index: -10;
                    display: block;
                    img {
                        filter: saturate(1);
                        width: 120%;
                        height: auto;
                        left: 50%;
                        top: 50%;
                    }
                }
                .excerpt {
                    position: absolute;
                    display: block;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: auto;
                    padding: 1.3vw;
                    line-height: 1.2;
                    font-size: 2.3vw;
                    color: $cor1;
                    background-color: rgb(255, 255, 255) !important;
                }
                h2 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 300;
                    display: block !important;
                    font-size: 3vw;
                    color: white;
                    width: 100%;
                    background-color: $cor1 !important;
                    padding: 2vw;
                    text-align: center;
                }
                .date {
                    position: relative;
                    width: 20vw;
                }
            }
        }
    }
}
