@import "../../../css/mixins/heights";
@import "../../../css/util/_breakpoints";
@import "../../../css/variaveis/caminhos";
@import "../../../css/variaveis/caminhos";
@import "../../../css/util/breakpoints";
@import "../../../css/mixins/button";
@import "../../../css/mixins/fontes";

.screen-reader-text {
    width: 1px;
    overflow: hidden;
}




@mixin fundosBrancos() {
    padding: 4.6748046875vw;
    background-color: lighten($cor1, 10);
    color: white;
    border-radius: 0.79296875vw;
    width: 100%;
    
}

 


@include respond-to(mobile) {
    footer {
        
        background-color: lighten($cor1, 0);
        padding-left: 8.59375vw;
        padding-right: 8.59375vw;
        padding-top:6.169921875vh;
        display: flex;
        flex-direction: column;
        gap: 5.9765625vw;
        justify-content: space-around;
        padding-bottom: 3.2353515625vw;


        #contato {
            /******************************/
            @include fundosBrancos();
            gap: 1.080078125vw;
            display: flex;
            flex-direction: column;
            height: auto;
           @include fontes();
            /******************************/
           
        }

        #listaDeProdutos {
            
            @include fundosBrancos();
            width: 100%;
            h2{
                margin-bottom: 1.080078125vw;
            }
            ul{
                display: flex;
                flex-direction: row;
                gap: 2.2353515625vw;
                width: 100%;
                flex-wrap: wrap; 
                justify-content: space-between;
                li{
                    
                    white-space: nowrap;
                    @include fontes();
                }
            }
        }
    }
}
