@import "../mixins/mobile";

@media screen and (max-width: 767px) {
    br,
    .wpcf7-response-output,
    .wpcf7-f157-o1-ve-your-name {
        display: none !important;
    }

    .wpcf7-not-valid-tip {
        @include fontesMobile(p);
        color: white !important;
        border-bottom: 1px solid white;
        margin-bottom: 3vh;
        display: block;
    }

    .wpcf7 {
        border: 1px solid $cor1;
        margin-top: 2vw;
        position: relative;

        ul {
            border: 1px solid red !important;
            display: none !important;
        }

        p:has(.wpcf7-submit) {
            border: 1px solid $cor1;
            @include fontesMobile(p);
            color: white;
            width: 50%;
            position: relative;
            right: 0px;
            left: 50%;
            transform: translateX(-50%);

            .wpcf7-submit {
                background-color: lighten(adjust-hue($cor1, 180), 40);
                border: none;
                color: white !important;
                padding: 4vw;
                text-align: center !important;
                font-size: 3vw !important;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            p {
                label {
                    @include fontesMobile(p);
                    color: white;
                    input,
                    textarea {
                        @include fontesMobile(p);
                        width: 100%;
                        max-height: 33vh;
                        padding: 1vw;
                    }
                }
            }
        }
    }
}








@media screen and (min-width: 768px) {
    .wpcf7-response-output {
        /*
        position: absolute;
        background-color: white;
        z-index: 55;
        display: block;
        padding: 1.4vw;
        top: -9vw;
        color: $cor1;
        font-size: 0.9765625vw;
        box-shadow: 10px 8px 20px 0px #00000070;
        border: 1px solid $cor1;
        */
        display: none;
    }

    .wpcf7-not-valid-tip {
        position: absolute;
        background-color: rgb(255, 255, 255);
        z-index: 355;
        display: block;

        padding: 0.5vw;
        top: 3vw;
        left: 18vw;
        font-size: 0.7765625vw;

        color: $cor1;
        border: 1px solid $cor1;
        box-shadow: 10px 8px 20px 0px #00000070;
        border: 1px solid $cor1;
    }

    .screen-reader-response {
        .status {
            position: absolute;
            z-index: 300;
            background-color: #ffffff;
            padding: 1vw;
            bottom: -4vw;
            width: 80%;
        }
        p,
        ul {
            li {
                background-color: white;
                border: 1px solid red;
                padding: 0.9765625vw;
                z-index: 244;
                position: absolute;
            }
        }

        display: none;
    }

    .wpcf7 {
        border: 0.09765625vw solid darken($cor1, 30);
        display: flex;
        width: 35.5vw;
        height: 29.296875vw;
        padding: 0.9765625vw;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.9765625vw;

        position: absolute;
        right: 1.3671875vw;
        top: 4.8828125vw;

        form {
            display: flex;
            width: 100%;
            height: 29.296875vw;
            padding: 0.9765625vw;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.9765625vw;
            position: absolute;
            top: 0;
            left: 0;

            *:has(.wpcf7-submit) {
                width: auto;
                right: 3.5vw;
                position: absolute;
                bottom: 3.25332vw;
            }

            .wpcf7-submit {
                display: flex;
                padding: 0.9765625vw;
                align-items: flex-start;
                gap: 0.9765625vw;
                position: initial;
                right: 3.515625vw;
                bottom: 2.734375vw;
                border: none;
                color: white;
                @include coresControle(7);
                font-size: 1.171875vw;
            }

            p {
                //border: 0.09765625vw solid red;
                position: relative;
                width: 100%;
            }

            label {
                display: flex;
                width: 33.0078125vw;
                padding: 0.68359375vw 1.171875vw;
                align-items: center;
                gap: 0.9765625vw;
                color: white;
                overflow: hidden;
                white-space: nowrap;
                font-size: 1.171875vw;

                input,
                textarea {
                    width: 100%;
                    height: 3.02734375vw;
                    flex-shrink: 0;
                    border: none;
                    padding-left: 0.9765625vw;
                    color: $cor1;
                    font-family: Ardela;
                    &:focus {
                        outline: -webkit-focus-ring-color auto 2px;
                        outline-color: $cor1;
                        //outline-style: ;
                        //outline-width: ;
                    }
                }
                textarea {
                    height: 3vw;
                    max-height: 3vw;
                    width: 96%;
                }
            }
        }
    }
}
