@import "../../../css/mixins/heights";
@import "../../../css/util/_breakpoints";
@import "../../../css/variaveis/caminhos";
@import "../../../css/variaveis/caminhos";
@import "../../../css/util/breakpoints";
@import "../../../css/mixins/button";

.screen-reader-text {
    width: 1px;
    overflow: hidden;
}

@include respond-to(bigger) {
    #header {
        height: auto;
        padding-top: 9.765625vw;
        padding-bottom: 15.859375vw;
        padding-left: 8.59375vw;
        padding-right: 2.9296875vw;
        width: 99.98vw;
        display: block;
        position: relative;

        h1 {
            width: 39.0625vw;
            font-size: 3.515625vw;
            line-height: 1.1;
            margin-bottom: 1.953125vw;
            color: darken($cor1,20);
        }

        h2 {
            width: 38.37890625vw;
            font-size: 2.24609375vw;
            line-height: 1.1;
            margin-bottom: 19px;
            display: block;
            color: darken($cor1,20);
        }

        section {
            display: inline-block;
            height: auto;
            a {
                @include botao();
            }
        }

        p {
            margin-top: 1.85546875vw;
            width: 36.81640625vw;
            height: 26.3671875vw;
            font-size: 1.513671875vw;
            line-height: 1.8;
            color: $cor1;
            text-align: justify;
            color: $cor1;
        }

        picture {
            width: auto;
            height: auto;
            overflow: hidden;
            position: absolute;
            right: 2.9296875vw;
            top: 9.765625vw;
            img {
                width: 42.48046875vw;
                height: 54.6875vw;
            }
        }
    }
}
