@mixin fontSize(){
    font-size: 3vw;
}
/**********************************************************************************************************/
/**********************************************************************************************************/
@media screen and (max-width: 768px) {
    #wrapper {
        /**********************************/
        picture{
            max-width: 100%;
            img{max-width: 100%;}
        }
        /**********************************/
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 50vh  auto;

        /* "RSSection      RSSection      RSSection      RSSection     navSection"*/
        grid-template-areas: 
        "headerSection      headerSection   headerSection  headerSection   headerSection"
        "RSSection      RSSection       RSSection      RSSection      RSSection"
        "TASection      TASection       TASection      TASection      TASection"
        "MainSection    MainSection     MainSection    MainSection     MainSection"
        "orCSection     orCSection      orCSection     orCSection      orCSection"
        "OPSection      OPSection       OPSection      OPSection       OPSection"
        "contato        contato         contato        contato         contato"
        "navSection      navSection       navSection      navSection     navSection"
        "BTSection      BTSection       BTSection      BTSection       BTSection"
        "BCSection      BCSection       BCSection      BCSection       BCSection"
        "GNSection      GNSection       GNSection      GNSection       GNSection"
        "FTSection      FTSection       FTSection      FTSection       FTSection"
        ;
    }
    /*************************************************************************/
    #header {
        background-color: rgb(5, 159, 189);
        grid-area: headerSection;
        //border:1px solid red; overflow:hidden;
    } /*************************************************************************/
    nav {
        background-color: rgb(5, 189, 69);
        grid-area: navSection;
        @include fontSize();
    }
    /*************************************************************************/
    #textoApresentacao {
        background-color: rgb(186, 189, 5);
        grid-area: TASection;
        @include fontSize();
    }

    /*************************************************************************/
    main {
        
      //background-color: rgb(23, 205, 255);
        grid-area: MainSection;
        @include fontSize();
       
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        grid-auto-rows: minmax(10px, auto);

    }
    
  
    #orcamento {
        background-color: rgb(189, 5, 134);
        grid-area: orCSection;
        @include fontSize();
    }
    /*************************************************************************/

    /*************************************************************************/
    #outrosProdutos {
        background-color: rgb(107, 1, 61);
        grid-area: OPSection;
        @include fontSize();
    }
    /**************************************************************************/


    
    /**************************************************************************/
    #RedesSociais {
        background-color: rgb(167, 167, 167);
        grid-area: RSSection;
    }
    /**************************************************************************/
    #blogTitulo {
        background-color: rgb(233, 120, 120);
        grid-area: BTSection;
        @include fontSize();
    }
    /**************************************************************************/
    #blogContent {
        background-color: rgb(198, 205, 255);
        grid-area:BCSection;
        @include fontSize();
    }
    /**************************************************************************/

    #gridNoticias {
        background-color: rgb(164, 132, 161);
        grid-area: GNSection;
        @include fontSize();;
    }
    
    /**************************************************************************/ 
    
    /**************************************************************************/
    /**************************************************************************/  
    footer {
        background-color: rgb(9, 159, 99);
        grid-area: FTSection;
        @include fontSize();
    }/**************************************************************************/
    /**************************************************************************/  
    #Contato{
        grid-area: contato;
        //@include fontSize();
    }
  
}
