@include respond-to(bigger) {
    #icon {
        display: none;
        color: red;
    }

    #fundao {
        display: none;
    }

    .SegundoMenuTopo {
       // background-color: $cor1;
       background: linear-gradient(10deg, $cor1, lighten($cor1,5));
       
        ul {
            padding-left: 3vw;
            display: flex;
            flex-direction: row;
            gap: 1.9296875vw;
            align-items: center;
            text-transform: uppercase;
            padding-top: 1.2vw;
            padding-bottom: 1vw;
            color: white;
            li {
                position: relative;
                color: white;
                a {
                    color: white !important;
                    white-space: nowrap;
                }
                &:hover {
                    ul {
                        position: absolute;
                        background-color: $cor1;
                        padding: 1vw;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        border: 1px solid $cor2;
                        display: flex;
                        flex-direction: column;
                        opacity: 0.9;
                        animation: submenu 500ms forwards;
                    }
                }
                ul {
                    display: none;
                }
            }
        }
    }

/**************************************************/    
/**************************************************/    
/**************************************************/    
/**************************************************/    
/**************************************************/
    @keyframes submenu {
        0% {
            opacity: 0;
            top: 1vw;
        }
        100% {
            opacity: 1;
            top: 0.4vw;
        }
    }
    
/**************************************************/    
/**************************************************/    
/**************************************************/    
/**************************************************/

 

    /************************************************************/
    @keyframes hover {
        0% {
            background-color: $cor1;
        }
        50% {
        }
        100% {
            background-color: lighten($cor1, 10%);
        }
    }
    /************************************************************/

    /************************************************************/
    @keyframes menuDown {
        0% {
            top: -5vw;
            opacity: 0.1;
            z-index: 1;
        }
        50% {
        }
        100% {
            top: 1.5vw;
            opacity: 1;
            z-index: 1;
        }
    }
    /************************************************************/
}
