@include respond-to(desktop) {
    .item {
        transform: translateY(20px);
        transition:
            opacity 0.5s ease,
            transform 0.5s ease;
    }

    .item.visible {
        opacity: 1;
        transform: translateY(0);
    }

    #postsDoBlog > .item:nth-child(n + 2) {
        &:hover {
            transform: scale(1.1);
            z-index: 3000000000;
            box-shadow: 0.09765625vw 0.09765625vw 2.09765625vw black;
        }
    }
}




@mixin contorno() {
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        /* contorno superior esquerdo */ 1px -1px 0 #000,
        /* contorno superior direito */ -1px 1px 0 #000,
        /* contorno inferior esquerdo */ 1px 1px 0 #000; /* contorno inferior direito */
    font-size: 1.66015625vw !important;
}

.card {
    position: relative;
    height: 100%;
    picture {
        position: absolute;
    }
    .date {
        position: absolute;
    }
    .titulo {
        position: absolute;
        background-color: transparent !important;
    }
    .excerpt {
        position: absolute;
        background-color: transparent !important;
    }
}

/****************************************************************************************/
.horizontal {
    .card {
        picture {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            display: block;
            img {
                position: absolute;
                width: 105%;
                height: auto;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                filter: saturate(0.0); 
            }
            &:hover {
                img {
                    filter: saturate(1);
                }
            }
        }
        .date {
            background-color: $cor2;
            padding: 1vw;
            color: white;
            right: 1vw;
            top: 50%;
            transform: translateY(-50%);
            z-index: 20;
            border-radius: 0.5vw;
            font-weight: bold;
        }
        .titulo {
            top: 0;
            left: 0;
            width: 100%;
            //background-color: lighten($cor1, 0) !important;
            padding: 0.7vw !important;
            border-radius: 0 !important;
            font-size: 1vw !important;
            @include contorno();
        }
        .excerpt {
            bottom: 0;
            left: 0;
            font-size: 0.9vw;
            background-color: lighten($cor1,10%) !important;
            color: white;
            line-height: 1.4;
            padding: 0.6vw;
            width: 100%;
            text-align: justify;
        }
    }
}
/****************************************************************************************/

/****************************************************************************************/
.vertical {
    .card {
        picture {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            display: block;
            img {
                position: absolute;
                height: 105%;
                width: auto;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                filter: saturate(0.1);
            }
            &:hover {
                img {
                    filter: saturate(1);
                }
            }
        }
        .date {
            background-color: $cor2;
            padding: 1vw;
            color: white;
            z-index: 30;
            transform: rotate(90deg);
            right: -1vw;
            top: 50%;
            border-radius: 0.5vw;
            font-weight: bold;
        }
        .titulo {
            top: 0;
            left: 0;
            width: 100%;
            // background-color: lighten($cor1, 0) !important;
            padding: 0.7vw !important;
            border-radius: 0 !important;
            font-size: 1vw !important;
            @include contorno();
            max-width: 99%;
        }
        .excerpt {
            bottom: 0;
            left: 0;
            font-size: 0.9vw;
            background-color: lighten($cor1,10%) !important;
            color: white;
            line-height: 1.4;
            padding: 0.6vw;
            width: 100%;
            text-align: justify;
        }
    }
}
/****************************************************************************************/
.nano {
    .card {
        position: relative;
        overflow: visible;
        .titulo {
            display: none !important;
        }

        .excerpt {
            display: none;
            width: 19.765625vw;
            position: absolute;
            left: -19.765625vw;
            z-index: 300;
            background-color: white !important;
            height: 100%;
        }

        .date {
            width: 80%;
            height: 30%;
            display: block;
            position: absolute;
            background-color: lighten($cor1,10%);
            left: 0;
            top: 0;
            font-size: 1vw;
            padding: 0.6vw;
            color: white;
            word-wrap: break-word; /* Garante que o texto quebre a linha quando necessário */
            overflow-wrap: break-word; /* Alternativa para garantir que o texto quebre */
            white-space: normal; /* Garante que o texto quebre ao final da linha */
        }
        picture {
            width: 100%;
            height: 100%;
            overflow: hidden;

            &:hover {
                img {
                    filter: saturate(1);
                }
            }

            img {
                width: 250%;
                height: auto;
                filter: saturate(0.1);
            }
        }
    }
}
