@media screen and (max-width: 767px) {
    nav {
        #menuIcon{
            display: block;
            position: fixed;
            top: 1vw;
            left: 1vw;
            z-index: 400;
            border: 1px solid $cor1;
            height: 7vw;
            background-color: rgba(255, 255, 255, 0.714);
            svg{
                width: 7vw;
                height: 7vw;
                path{fill: $cor1;}
            }
        }
        font-size: 3vw;
        background-color: $cor1;
        line-height: 5vw;
        font-family: ardela;
        position: fixed;
        display: block;
        top: 0;
        left: 0vw;
        z-index: 200;
        height: 100vh;
        border-right: 1px solid darken($cor1,10);
        ul {
            padding-bottom: 3vw;
            padding-right: 4vw;
            padding-left: 3vw;
            padding-top: 12vw;
            line-height: 4vw;
            //border: 1px solid red;
            display: flex;
            align-items: normal;
            gap: 1.5625vw;
            flex-direction: column;
            li{
                a{
                    color: white;
                    line-height: 6vw;
                    font-size: 3.2vw;
                }
            }
        }
    }
}








@media screen and (min-width: 768px) {
    nav {

        #menuIcon{
            display: none;
        }

        @include lateralRoxa(2);
        * {
            ul {
                li {
                    a {
                        color: white;
                    }
                }
            }
        }
        /*******************************************************************/
        container-name: menu;
        container-type: inline-size;
        /******************************************************************/

        /******************************************************************/
        /******************************************************************/
        /******************************************************************/
        /******************************************************************/
        @container menu (min-width: 500px) and (max-width: 1366px) {
            ul {
                //background-color: orange;
                display: inline-flex;
                padding: 0.9765625vw;
                align-items: center;
                gap: 1.5625vw;
            }
        }
        /******************************************************************/
        /******************************************************************/
        /******************************************************************/
        /******************************************************************/

        /******************************************************************/
        /******************************************************************/
        /******************************************************************/
        /******************************************************************/
        @container menu (min-width: 0px) and (max-width: 499px) {
            background-color: #5a5a5a;
            ul {
                //background-color: #ae4dfb;
                display: flex;
                flex-direction: column;
                gap: 2.5390625vw;
            }
        }
        /******************************************************************/
        /******************************************************************/
        /******************************************************************/
        /******************************************************************/
    }
}
