@import "../../../css/mixins/heights";
@import "../../../css/util/_breakpoints";
@import "../../../css/variaveis/caminhos";
@import "../../../css/variaveis/caminhos";
@import "../../../css/util/breakpoints";
@import "../../../css/mixins/button";
@import "../../../css/mixins/fontes";



@include respond-to(mobile){

    @include fontes();

    .wrapper {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 0.68359375vw;
    }

    nav {
        grid-area: nav;
        padding: 10px;
        grid-column: 1/9;
        grid-row: 1;
    }

    main {
        //grid-area: conteudo;
        
        padding: 10px;
        grid-column: 1/9;
        color: darken($cor1,20);
        line-height: 1.80;
        padding-left: 3.9296875vw;
        padding-right: 3.9296875vw;
        padding-top: 5vw;
        padding-bottom: 2vw;
        h1{
            text-transform: capitalize;
            margin-top: 2vw;
            margin-bottom: 2vw;
        }
        .thumb{
            width: 100%;
            height: auto;
            border-radius:0.68359375vw;
        }

        figure{
            max-width: 100%;
            img{ 
                width: 99%;
                height: auto;
            }
        }

        #content{
            p{ text-align: justify; }
        }
    }

    aside {
        // grid-area: lateral;
        padding: 10px;
        grid-column: 1/9;

        display: grid;
        grid-template-columns: repeat(1,1fr);
       
        gap: 0.1953125vw;

       
    }

    footer {
        grid-column: 1/9;
    }

}
